<ion-view view-title="Connexion">
    <ion-content padding="true">

        <div class="back">
            <div class="button swiper-button-prev button-negative" ui-sref="start.welcome"></div>
        </div>
        <div class="connex" align="center">
            <h1>Connexion</h1>
            <br>
        </div>

        <div class="buttons" align="center">
            <div class="button button-bar-inline button-positive" ui-sref="">Se connecter avec Facebook</div>
            <br>
            <br>
            <hr>
            <br>
        </div>
        <div class="co">
            <div class="item item-input">
                <input type="text" placeholder="e-mail">
            </div>
            <div class="item item-input">
                <input type="text" placeholder="mot de passe">
            </div>
            <div class="mdp">Mot de passe oublié ?</div>
            <div class="ok" align="right">
                <div class="button button-negative" ui-sref="app.home">ok</div>
            </div>
        </div>

        <img src="../../img/louvre.png" height="450px" width="450px">

    </ion-content>
</ion-view>


