<ion-view view-title="Inscription">
    <ion-content padding="true">

        <div class="back">
            <div class="button swiper-button-prev button-negative" ui-sref="start.welcome"></div>
        </div>
        <div class="inscrip" align="center">
            <h1>Inscription</h1>
            <br>
        </div>

        <div class="in">
            <div class="item item-input">
                <input type="text" placeholder="Nom">
                <input type="text" placeholder="Prénom">
            </div>
            <div class="item item-input">
                <input type="text" placeholder="adresse mail">
            </div>
            <div class="item item-input">
                <input type="text" placeholder="mot de passe">
            </div>
            <div class="item item-input">
                <input type="text" placeholder="confirmation du mot de passe">
            </div>
            <br>
            <div class="valid" align="center">
                <div class="button button-negative" ui-sref="start.connexion">Valider</div>
            </div>
        </div>

    </ion-content>
</ion-view>


