<ion-view view-title="Connexion">
    <ion-content padding="true">

        <div class="container">
            <input id="txtEmail" type="email" placeholder="Email">
            <input id="txtPassword" type="password" placeholder="Password">

<button id="btnLogin" class="btn btn-action">
    Se connecter
</button>

 <button id="btnSignUp" class="btn btn-secondary">
 S'inscrire
 </button>

            <button id="btnLogout" class="btn btn-action hide">
                Se déconnecter
            </button>


        </div>

    </ion-content>

</ion-view>
