<ion-view view-title="Espace profil">
    <ion-content padding="true">
        <div align="center">
            <p>Vous receverez une notification dès qu'on trouve une expo susceptible de vous intéresser ;)</p>
        </div>
        <br>
        <div class="stape1" align="center">
            <div class="button button-negative" ui-sref="">1</div>
            <p>Renseignez-nous vos centres d'intérêts ainsi que vos goûts artistiques</p>
        </div>
        <br>
        <br>
        <div class="stape2" align="center">
            <div class="button button-negative" ui-sref="">2</div>
            <p>Choisissez à quelle fréquence vous souhaitez recevoir des notifications</p>
        </div>
        <br>
        <br>
    <div class="list">

        <div class="item item-button-right">
            Chaque semaine
            <button class="button button-positive">
            </button>
        </div>
        <div class="item item-button-right">
            Une fois par mois
            <button class="button button-positive">
            </button>
        </div>
        <div class="item item-button-right">
            Pour le week-end
            <button class="button button-positive">
            </button>
        </div>

    </div>
    </ion-content>
</ion-view>