<ion-view view-title="Espace profil">
    <ion-content padding="true">
        <div class="list">

            <a class="item item-thumbnail-left" href="#">
                <img src="../../img/evaandadele.jpg">
                <h2>Eva et Adele</h2>
                <p>You are my biggest inspiration</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="../../img/lechat.jpg">
                <h2>L'Art et La Chat</h2>
            </a>
            <a class="item item-thumbnail-left" ui-sref="app.expoDetails">
                <img src="../../img/OscarWilde.jpg">
                <h2>OscarWilde</h2>
                <p>L'impertinent absolu</p>
            </a>

        </div>
    </ion-content>
</ion-view>