<ion-view view-title="Trouver une expo">
    <ion-content padding="true">

        <div class="quand" align="center">
            <h1>Un budget ?</h1>
        </div>

        <br>

        <div class="lign1" align="center">
            <div class="button button-large button-negative">Gratuit</div>
        </div>

        <br>

        <div class="lign2" align="center">
            <div class="button button-large button-negative">Moins de 20€</div>
        </div>

        <br>

        <div class="lign3" align="center">
            <div class="button button-large button-negative">Entre 20 et 50€</div>
        </div>

        <br>

        <div class="lign3" align="center">
            <div class="button button-large button-negative">Peu importe</div>
        </div>

        <br>
        <br>

        <div class="button button-block button-positive" ui-sref="app.searchResults">Découvrir votre expo du moment</div>

    </ion-content>
</ion-view>