<ion-view view-title="Trouver une expo">
    <ion-content padding="true">

        <div class="quand" align="center">
            <h1>Je suis plutôt...</h1>
        </div>

        <br>

        <div class="lign1" align="center">
            <div class="button button-large button-negative">Photo</div>
            <div class="button button-large button-negative">Sculpture</div>
        </div>

        <br>

        <div class="lign2" align="center">
            <div class="button button-large button-negative">Peinture</div>
            <div class="button button-large button-negative">Sciences</div>
        </div>

        <br>

        <div class="lign3" align="center">
            <div class="button button-large button-negative">Mode</div>
            <div class="button button-large button-negative">Architecture</div>
        </div>

        <br>
        <br>

        <div class="button button-block button-positive" ui-sref="app.searchHowMany">Next</div>

    </ion-content>
</ion-view>